.filters {
    padding-right: 40px;
    // border-right: 1px solid $border-color-default;
    margin-right: 20px;

    input[type="checkbox"] {
        width:28px;
        height:28px;

        &:focus{
            outline: none;
            border-radius: 5px;
        }

        &:checked:before {
            border-color: #000;
            background-color: #000;
        }
        
        &:after {
            width:15px;
            height:10px;
            margin: 5px 7px;
            border: 2px solid #fff;
            border-top: 0;
            border-right: 0;
        }
    }

    &--phone {
        border-right: 0;
        padding-right: 0;
        border-bottom: 1px solid $border-color-default;
        padding: 20px;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        border-radius: 0;
        margin-top: 20px;
    }
}

.divider-wrapper-with-header {
    margin: 20px 0 30px;

    h5 {
        position: relative;
        margin-bottom: 15px;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 70%;
            height: 1px;
            background: #ddd;
            background: -moz-linear-gradient(270deg, rgba(221, 221, 221, 0.2) 0%, #888888 100%);
            background: -webkit-linear-gradient(270deg, rgba(221, 221, 221, 0.2) 0%, #888888 100%);
            background: linear-gradient(270deg, rgba(221, 221, 221, 0.2) 0%, #888888 100%);
            z-index: 1;
            top: 0;
            bottom: 0;
            margin: auto;
            margin-left: 10px;
        }
    }
}