.mx-underlay {
    display: none;
    // opacity: 0.9;
    // background-color: $brand-inverse;
}

.modal-dialog {
    .modal-content {
        .modal-header {
            .close {
                margin-top: 0;
                font-size: 0;
                opacity: 0.6;
                height: 28px;
                width: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transform: rotate(45deg);
                z-index: 1;

                &:before, &:after {
                    content: "";
                    height: 18px;
                    width: 2px;
                    background: $brand-default;
                    display: block;
                    position: relative;
                }

                &:after {
                    transform: rotate(90deg);
                    left: -1.54px;
                }

                &:hover, &:focus {
                    opacity: 1;
                }
            }
        }

        .modal-footer {
            button.btn {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.mx-window {

    // If popup direct child is a dataview it gets the class mx-window-view
    &.mx-window-view .mx-window-body {
        padding: 0;

        // Dataview in popup
        >.mx-dataview>.mx-dataview-content,
        >.mx-placeholder>.mx-dataview>.mx-dataview-content {
            padding: 20px;
        }

        >.mx-dataview>.mx-dataview-controls,
        >.mx-placeholder>.mx-dataview>.mx-dataview-controls {
            display: block;
            border-top: 2px solid $brand-default;
        }
    }

    .mx-window-body {
        .user-role-modal {
            ul.mx-list {
                margin-bottom: 25px;

                li {
                    padding-left: 35px;
                    cursor: pointer;
                    border-width: 1px;
                    transition: none;

                    &:last-child {
                        border-top: 0;
                    }
                }

                input[type="checkbox"] {
                    transform: scale(1.5);
                    margin-left: -15px;
                    margin-right: 10px;
                    position: relative;
                }
            }

            .mx-button {
                margin-right: 0.3em;
                margin-bottom: 0;
                transition: none;
            }
        }
    }

    .mx-layoutgrid {
        padding-right: 0;
        padding-left: 0;
    }
}