@media screen and (max-width: 768px) { 
    .lato-layout {
        &.layout-atlas {
            .region-topbar {
                min-height: 60px;
                background-color: transparent;
                border: none;
                box-shadow: none;
                background-color: $bg-color;
                    
                .navbar-brand {
                    img {
                        display: inline-block;
                        width: auto;
                        height: 30px;
                    }
                }
    
                .topbar-content {
                    min-height: 60px;
                    justify-content: space-between;
                }
            }
        }
    }

    .page-dashboard {
        .header {
            margin: 0;

            h2 {
                margin: 0;
                font-size: 30px;
                line-height: 30px;
            }
        }

        .showfloor-list {
            ul {
                li {
                    padding: 0;

                    .card {
                        border: none;
                        border-radius: 24px;
                        padding: 22px;
                        position: relative;
                        box-shadow: 0 0 5px 1px rgba(4,145,188,.2);
                        margin: 5px 15px 50px;
                        overflow: initial;

                        h3,
                        h4 {
                            margin: 0;
                        }

                        .details-wrapper {
                            padding: 0;
                            border-left: 1px solid #dcdcdc;
                            margin-left: 10px;
                            padding-left: 10px;
                            text-align: center;

                            .details-container {
                                margin-bottom: 20px;

                                h4 {
                                    margin-top: 5px;
                                    font-size: 17px;
                                }
                            }
                        }

                        img {        
                            animation: none;
                            -webkit-animation: none;
                            -moz-animation: none;
                        }
            
                        .btn-container {
                            position: absolute;
                            bottom: -20px;
                            right: 0;
                            left: 0;
                            margin: auto;
                            width: 200px;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }
    
    .btn-rounded{
        font-weight: 100;
        font-size: 16px;
        font-weight: 100;
    }

    .mx-listview[class*='lv-col']>ul>li>.mx-dataview {
        overflow: initial;
    }
    
    .model-back-container {
        // position: absolute;
        background-color: #fff;
        padding: 15px;
    }

    .mx-scrollcontainer {
        .mx-placeholder {
            .mx-layoutgrid {
                &.showroom-container {
                    padding-bottom: 100px;
                }
            }
        }
    }

    .bike-details-page {
        max-height: 100vh;
        overflow: hidden;
    }

    .card {
        padding: 22px 17px;
        text-align: center;
        min-width: 140px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-bottom: 0;
        margin-top: 15px;
        box-shadow: 0 0 10px 5px rgba(4,145,188,.2);
        border-radius: 24px;

        &--details {
            height: 120px;
            max-height: 120px;
            margin-bottom: 14px;
            text-align: center;

            .card-icon {
                max-width: 30px;
                margin: auto;
                margin-bottom: 5px;
            }

            span {
                font-size: 12px;
                margin: auto;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .vertical-scroll {
        display: flex;
        padding: 15px 15px;
        overflow: scroll;

        &--bike {
            padding: 0;
            margin: 14px 0 30px;
            -webkit-overflow-scrolling: touch;
            scroll-snap-type: both mandatory;

            .card--bike {
                scroll-snap-align: center;
                min-width: 80%;
                margin-right: 14px;
                margin-bottom: 14px;

                &:first-of-type {
                    margin-left: 15px;
                }

                &:last-of-type {
                    margin-right: 15px;
                }
            }
        }
    }

    .bike-name-container {
        padding: 0 15px 15px;

        h1, h2 {
            margin: 0;
        }
    }

    .buttons-container {
        padding: 20px 15px 50px;

        .btn {
            width: 240px;
            padding: 8px;
        }

        .btn-inverse {
            color: #fff !important;
        }
    }

    // .mx-scrollcontainer {
    //     .toggle-btn {
    //         display: none !important;
    //     }
    // }

    .toggle-btn {
        width: 35px;
        height: 17px;
        outline: none; 
        position: relative;
        margin: 0 !important;

        a {
            position: absolute;
            height: 3px;
            width: 100%;
            background: $brand-inverse;
            left: 0;
            top: 7px;
        }

        img {
            display: none;
        }

        &:after,
        &:before {
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            background: $brand-inverse;
            left: 0;
        }

        &:before {
            top: 0; 
        }  

        &:after {
            top: 14px;
            width: 65%; 
            right: 0;
            left: auto;
        }
    }

    .layout-controller {
        &.layout-atlas {
            .region-topbar {
                .menu-btn {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .customer-page {
        position: relative;

        .header {
            margin: 0;
            margin-bottom: 20px;
        }

        img {
            max-width: 100px !important;
            margin-right: 0 !important;

            &.bike-image {
                max-width: 250px !important;
                margin-right: auto !important;
                margin: auto;
            }
        }

        .card {
            margin-bottom: 150px;
        }

        .credit-card-box {
            display: none;
        }

        .card-entry {
            margin-top: 40px;
        }

        .buttons-container {
            position: absolute;
            bottom: 0;
            width: 100vw;
            z-index: 22;
        }
    }

    .webXR {
        height: calc(100vh - 110px) !important;
        width: 100%;
    }

    .first-landing-content-wrapper,
    .second-landing-content-wrapper {
        .row {
            img {
                padding: 0;
                margin-top: 5vh;
            }

            h2 {
                margin-bottom: 20px;
                float: inherit !important;
                text-align: center;
            }

            span {  
                max-width: 100%;
                float: inherit !important;
                text-align: center !important;
            }
        }
    }

    .second-landing-content-wrapper {
        .row {
            flex-flow: column-reverse;
        }
    }

    .full-width-wrapper {
        position: relative;
        height: auto;
        display: block;
        align-items: center;
        margin: 5% 0;

        h2 {
            float: inherit !important;
            text-align: center;
        }
        
        span {        
            float: inherit !important;
            text-align: center !important;
        }

        img {
            position: inherit;
            height: auto;
        }
    }

    .sign-wrapper {
        .login-wrapper {
            a {
                color: #fff;
                border-color: #2F3645;
                background-color: #58595B;
                font-size: 15px;
                padding: 16px;
            }
        }
    }
}